<% if @category.parent %>
<span><strong><%= link_to @category.parent.name, category_path(@category.parent)  %></strong></span><br />
<%end%>
<span><strong>&nbsp;<%= link_to @category.name, category_path(@category)  %></strong></span>

<ul>
    <% @category.subcategories.each do | subcategory| %>
        <li><%= link_to subcategory.name, category_path(subcategory) %> (<%= subcategory.posts.count %>)</li>                            
    <% end %>
</ul>