

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <% @categories.each do |category| %>
                <div class="col-md-4">

                    <p><strong><%= link_to category.name, category_path(category) %>(<%= category.subcategories.count %>)</strong></p>
                    <ul>
                        <% category.subcategories.limit(10).each do | subcategory| %>
                            <li><%= link_to subcategory.name, category_path(subcategory) %></li>                            
                        <% end %>
                        <% if category.subcategories.count > 10 %>
                            ...
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    </div>
</div>

             